* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16%;
  left:0;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


/*bài viết sử dụng css grid*/

@media screen and (min-width: 760px) /*desktop mode */
{
  .grid-post
  {
    display: grid;
    padding-left: 15vw;
    padding-right: 10vw;
    grid-template-columns: 40% auto;
    grid-column-gap: 2.5em;
    grid-template-rows: auto auto;
  }
  
  .post-image
  {
    grid-column: 1 / 2;
  }
  
  .post-image img
  {
    width: 25vw;
  }
  
  .post-text
  {
    grid-column: 2 / 3;
  }
}

@media screen and (max-width: 760px) /*phone mode*/
{
  .grid-post
  {
    display: grid;
    padding-left: 10vw;
    padding-right: 10vw;
    grid-template-rows: auto auto;
  }
    
  .post-image
  {
    padding-top: 4vh;
    grid-row: 1 / 2;
  }
    
  .post-image img
  {
    width: 80vw;
    height: auto;
    align-self: center;
  }
    
  .post-text
  {
    grid-row: 2 / 3;
  }
}

.img-center
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/*ASO logo img giới thiệu*/
@media screen and (max-width: 991px) { .img-center {margin-right: auto;}}
@media screen and (min-width: 991px) { .img-center {margin-right: 0;}}

/*CSS Grid giới thiệu thành viên*/
.grid-team
{
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(280px, 2fr));
  grid-column-gap: 1.8em;
}

.member-grid img
{ 
  width: 15em;
  border-radius: 4px;
}

.member-grid h1, h2, h3, h4
{
  color: #222;
  text-align: center;
}

.member-grid h3
{
  padding-top: 1em;
  font-weight: 570;
}

.member-grid h4
{
  margin-bottom: 1em;
}

.member-img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}



